<!DOCTYPE html>
<html>				<!-- this the template that all the other templates inherit from -->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'main.css') }}">		<!-- css files for styling, reference the path to the static folder where the files are kept -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'dfstyle.css') }}">

	<script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>

	{% if title %}
		<title> The Paperless Traveler - {{ title }}</title>
	{% else %}																<!-- Sets page title and changes title based on url page -->
		<title>The Paperless Traveler</title>
	{% endif %}
	
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">The Paperless Traveler</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link" href="/ProcessAnalysisStart">Process Analysis</a>
						<a class="nav-item nav-link" href="/RejectionAnalysis">Rejection Code Analysis</a>
						<a class="nav-item nav-link" href="/ProcessFilter">Process Data Filter</a>
						<a class="nav-item nav-link" href="/RejectionFilter">Rejection Data Filter</a>				<!-- creates the url links in the header of app -->
						<a class="nav-item nav-link" href="/AddOp">Add Operator</a>
						<a class="nav-item nav-link" href="/RemOp">Remove Operator</a>
						<a class="nav-item nav-link" href="/PartNumberYield">P/N Yield</a>
						<a class="nav-item nav-link" href="/RejectionGraph">Rejection Graph</a>
						<a class="nav-item nav-link" href="/download">Download</a>
					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/login"></a>
						<a class="nav-item nav-link" href="/register"></a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{category}}">				<!-- javascript for allowing messages to flash, and categories can be applied -->
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% block content %}{% endblock %} <!-- Javascript for the template inheritance, other templates will be put between block statements -->
			</div>
			<div class="col-md-4">
				<div class="content-section">
					<h3>View Table Data</h3>
					<p class='text-muted'>
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="/ProcessTable">Process Table Data</a>
							<a class="nav-item nav-link" href="/RejectionTable">Rejection Table Data</a> 		<!-- Side navigation bar for viewing table data -->
							<a class="nav-item nav-link" href="/EnvironmentTable">Environment Table Data</a>

						</div>
					</p>
				</div>
			</div>
		</div>
	</main>

	<!-- bootstrap stuff -->
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

